body 
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url(backgroundgif.gif) no-repeat;
	background-size: cover;
}

.login-box{
	width: 280px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.login-box h1
{
	float: left;
	font-size: 40px;
	border-bottom: 6px solid #deadff;
	margin-bottom: 50px;
	padding: 13px 0;
}

.textbox
{
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid  #deadff;
}

.textbox i
{
	width: 26px;
	float: left;
	text-align: center;
}

.textbox input
{
	border: none;
	outline: none;
	background: none;
	color: white;
	font-size: 18px;
	width: 80%;
	float: left;
	margin: 0 10px;
}

.btn
{
	width: 100%;
	background: none;
	border: 2px solid #deadff;
	color: white;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	margin: 12px 0;
}

.login-button {
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #ff5e99;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
  position: absolute;
  top: 0;
  right: 0;
}
.login-button:hover {
  background: #deadff;
  box-shadow: 0 15px 20px rgba(255, 0, 255, .4);
  color: white;
  transform: translateY(-7px);
}

.about-button {
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #ff5e99;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
  position: absolute;
  top: 0;
  right: 0px;
}
.about-button:hover {
  background: #deadff;
  box-shadow: 0 15px 20px rgba(255, 0, 255, .4);
  color: white;
  transform: translateY(-7px);
}

.projects-button {
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #ff5e99;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
  position: absolute;
  top: 0;
  right: 150px;
}
.projects-button:hover {
  background: #deadff;
  box-shadow: 0 15px 20px rgba(255, 0, 255, .4);
  color: white;
  transform: translateY(-7px);
}

.main-button {
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #ff5e99;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
  position: absolute;
  top: 0;
  right: 300px;
}
.main-button:hover {
  background: #deadff;
  box-shadow: 0 15px 20px rgba(255, 0, 255, .4);
  color: white;
  transform: translateY(-7px);
}

.dwnldbttn{
  position: relative;
  top: 40px;
  left: 0px;
  display: inline-block;
  padding: 15px 30px;
  color: #deadff;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;

}

.dwnldbttn:hover{
  color: white;
  background:#deadff;
  box-shadow: 0 0 10px #deadff, 0 0 40px #deadff, 0 0 80px #deadff;
}
